<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <router-link to="/tabs/manage/">
            <ion-icon :icon="arrowBackOutline" />
          </router-link>
        </ion-buttons>
        <ion-title>
          Ledenlijst
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <form @submit.prevent="submitForm">
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col>
              <div class="container">

                <ion-label>Last updated: {{ updated }}</ion-label><br>
                <ion-input type="file" @change="handleFileChanged" accept=".csv"></ion-input>

                <ion-button type="submit" :disabled="updateDisabled">Update</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>

      <ion-title class="title">Ledenlijst</ion-title>
      <div v-if="ledenlijst" style="max-width: 700px; margin-left: auto; margin-right: auto">
        <ion-searchbar animated v-model="searchTerm" style="margin-bottom: 10px"></ion-searchbar>
        <div v-for="lid in filteredLedenlijst" :key="lid.relatiecode">
          <ion-item>
            <p style="width: 100px">{{ lid.Relatiecode }}</p>
            <p>{{ lid['Volledige naam (1)'].join(' ') }}</p>
          </ion-item>
        </div>
      </div>
    </ion-content>
  </ion-page>
</template>

<script>
import { IonPage, IonContent, IonHeader, IonToolbar, IonTitle, IonIcon, IonButtons, IonGrid, IonCol, IonLabel, IonInput, IonRow, IonButton, IonItem, IonSearchbar } from '@ionic/vue';
import { arrowBackOutline } from 'ionicons/icons'


export default {
  name: 'LoginPage',
  components: { IonPage, IonContent, IonHeader, IonToolbar, IonTitle, IonIcon, IonButtons, IonGrid, IonCol, IonLabel, IonInput, IonRow, IonButton, IonItem, IonSearchbar },
  setup() {
    return {
      arrowBackOutline
    }
  }
};
</script>


<script setup>
import { onMounted, ref, computed } from 'vue'
import { doc, getFirestore, serverTimestamp, writeBatch, collection, getDocs } from "firebase/firestore"; 

const db = getFirestore()

const file = ref(null)
const updateDisabled = ref(false)
const ledenlijst = ref([])
const updated = ref('loading...')
const searchTerm = ref('')

const handleFileChanged = (event) => {
  const target = event.target;
  if (target && target.files) {
    file.value = target.files[0];
  }
}

const submitForm = async () => {
  console.log(file.value)
  let reader = new FileReader()
  updateDisabled.value = true

  reader.onload = function() {
    csvToJson(reader.result);
  };

  reader.onerror = function() {
    console.log(reader.error);
  };

  reader.readAsText(file.value)
}

const csvToJson = async (csv) => {
  let array = csv.split("\n")
  let result = [];

  let headers = array[0].split(",")

  for (let i = 1; i < array.length - 1; i++) {
    let obj = {}
  
    let str = array[i]
    let s = ''
  
    let flag = 0
    for (let ch of str) {
      if (ch === '"' && flag === 0) {
        flag = 1
      }
      else if (ch === '"' && flag == 1) flag = 0
      if (ch === ',' && flag === 0) ch = '|'
      if (ch !== '"') s += ch
    }
  
    let properties = s.split("|")
  
    for (let j in headers) {
      if (properties[j].includes(",")) {
        obj[headers[j]] = properties[j]
          .split(",").map(item => item.trim())
      }
      else obj[headers[j]] = properties[j]
    }
    
    result.push(obj)
  }
  

  try {
    const batch = writeBatch(db)

    for (let i = 0; i < result.length; i++) {
      const docRef = doc(db, "settings", "ledenlijst", "leden", result[i].Relatiecode)
      batch.set(docRef, result[i]);
    }

    const timeRef = doc(db, "settings", "ledenlijst")
    batch.set(timeRef, { lastUpdated: serverTimestamp() });

    await batch.commit();
  } catch (e) {
    alert("Error updating ledenlijst");
    console.log(e)
  }

  try {
    const batch = writeBatch(db)

    for (let i = 0; i < result.length; i++) {
      const docRef = doc(db, "settings", "ledenlijst", "relatiecodes", result[i].Relatiecode)
      batch.set(docRef, { relatiecode: result[i].Relatiecode, email:  [ result[i]['E-mail'], result[i]['2e E-mail'] ]});
    }

    const timeRef = doc(db, "settings", "ledenlijst")
    batch.set(timeRef, { lastUpdated: serverTimestamp() });

    await batch.commit();
  } catch (e) {
    alert("Error updating ledenlijst");
    console.log(e)
  }

  updateDisabled.value = false
  loadLedenlijst()
}

const loadLedenlijst = async () => {
  try {
    ledenlijst.value = []
    const querySnapshot = await getDocs(collection(db, "settings", "ledenlijst", "leden"));
    querySnapshot.forEach((doc) => {
      ledenlijst.value.push(doc.data())
    });
  } catch (e) {
    console.log(e)
  }

  ledenlijst.value.sort((a, b) => a.Achternaam.localeCompare(b.Achternaam))
}


onMounted(() => {
  loadLedenlijst()
})

const filteredLedenlijst = computed(() => {
  return ledenlijst.value.filter(lid => lid['Volledige naam (1)'].join(' ').toLowerCase().includes(searchTerm.value.toLowerCase()))
})
</script>

<style scoped>
.title {
  text-align: center;
  color: #EB6330;
  margin-top: 60px;
  margin-bottom: 20px;
}

ion-icon {
  font-size: 24px;
  margin-left: 10px;
  color: #EB6330;
}

ion-item {
  --border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  
}

ion-col {
  max-width: 700px;
}
</style>
