<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>Management</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <router-link to="/tabs/manage/users">
        <ion-item button>
          <ion-label>Users</ion-label>
        </ion-item>
      </router-link>

      <router-link to="/tabs/manage/ledenlijst">
        <ion-item button>
            <ion-label>Ledenlijst</ion-label>
        </ion-item>
      </router-link>
    </ion-content>
  </ion-page>
</template>

<script>
import { defineComponent } from 'vue';
import { IonPage, IonHeader, IonToolbar, IonTitle, IonContent, IonItem, IonLabel } from '@ionic/vue';

export default defineComponent({
  name: 'ManagePage',
  components: { IonHeader, IonToolbar, IonTitle, IonContent, IonPage, IonItem, IonLabel }
});
</script>
