<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <router-link to="/tabs/manage/">
            <ion-icon :icon="arrowBackOutline" />
          </router-link>
        </ion-buttons>
        <ion-title>
          Ledenlijst
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-title class="title">Gebruikers</ion-title>
      <div v-if="ledenlijst" style="max-width: 700px; margin-left: auto; margin-right: auto">
        <ion-searchbar animated v-model="searchTerm" style="margin-bottom: 10px"></ion-searchbar>
        <div v-for="lid in filteredLedenlijst" :key="lid.relatiecode">
          <ion-item :style="lid.email === user.email ? 'cursor: not-allowed;' : 'cursor: pointer'" @click="selectedUser = lid; setModalOpen(true);">
            <p style="width: 100px">{{ lid.relatiecodes[0] }}</p>
            <p>{{ lid.email }}</p>
          </ion-item>
        </div>
      </div>

      <ion-modal v-if="selectedUser" :is-open="isModalOpen" @willDismiss="setModalOpen(false)">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button @click="setModalOpen(false)">Cancel</ion-button>
          </ion-buttons>
          <ion-title style="text-align: center">{{ selectedUser.email }}</ion-title>
          <ion-buttons slot="end">
            <ion-button :strong="true" @click="confirmModal">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-checkbox :modelValue="selectedUser.isAdmin" @update:modelValue="selectedUser.isAdmin = $event"></ion-checkbox>
          <ion-label style="margin-left: 15px">Admin</ion-label>
        </ion-item>
      </ion-content>
    </ion-modal>
    </ion-content>
  </ion-page>
</template>

<script>
import { IonPage, IonContent, IonHeader, IonToolbar, IonTitle, IonIcon, IonButtons, IonItem, IonSearchbar, IonModal, IonButton, IonCheckbox, IonLabel } from '@ionic/vue';
import { arrowBackOutline } from 'ionicons/icons'


export default {
  name: 'LoginPage',
  components: { IonPage, IonContent, IonHeader, IonToolbar, IonTitle, IonIcon, IonButtons, IonItem, IonSearchbar, IonModal, IonButton, IonCheckbox, IonLabel },
  setup() {
    return {
      arrowBackOutline
    }
  }
};
</script>


<script setup>
import { onMounted, ref, computed, inject } from 'vue'
import { getFirestore, collection, getDocs, doc, updateDoc } from "firebase/firestore"; 

const db = getFirestore()
const { user } = inject('settings')

const ledenlijst = ref([])
const searchTerm = ref('')
const isModalOpen = ref(false)
const selectedUser = ref(null)

const setModalOpen = (isOpen) => {
    if (user.value.email === selectedUser.value.email) return
    isModalOpen.value = isOpen
    if (isOpen === false) {
        selectedUser.value = null
    }
}

const confirmModal = async () => {
    await updateDoc(doc(db, "users", selectedUser.value.id), {
        isAdmin: selectedUser.value.isAdmin
    });

    setModalOpen(false)
}

const loadLedenlijst = async () => {
  try {
    ledenlijst.value = []
    const querySnapshot = await getDocs(collection(db, "users"));
    querySnapshot.forEach((doc) => {
      let data = doc.data()
      data.id = doc.id
      ledenlijst.value.push(data)
    });
  } catch (e) {
    console.log(e)
  }

  ledenlijst.value.sort((a, b) => a.email.localeCompare(b.email))
}


onMounted(() => {
  loadLedenlijst()
})

const filteredLedenlijst = computed(() => {
  return ledenlijst.value.filter(lid => lid.email.toLowerCase().includes(searchTerm.value.toLowerCase()))
})
</script>

<style scoped>
.title {
  text-align: center;
  color: #EB6330;
  margin-top: 60px;
  margin-bottom: 20px;
}

ion-icon {
  font-size: 24px;
  margin-left: 10px;
  color: #EB6330;
}

ion-item {
  --border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  
}

ion-col {
  max-width: 700px;
}
</style>
