<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>Account</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <div class="parent">
        <h2 class="title">Welkom {{lid.map(a => a.Roepnaam).join(', ')}}</h2>
        <div class="container">
          <h3 style="margin-left: 15px; padding-top: 10px; font-weight: bold;">Info</h3>
          <ion-item>
            Email: <span>{{ user.email }}</span>
          </ion-item>
          <ion-item>
            Name{{ lid.map(a => a['Volledige naam (1)'].join(' ')).length > 1 ? 's' : '' }}: <span>{{ lid.map(a => a['Volledige naam (1)'].join(' ')).join(', ') }}</span>
          </ion-item>
          <ion-item>
            Group{{ userDoc.groups.length > 1 ? 's' : '' }}: <span>{{ userDoc.groups.join(', ') }}</span>
          </ion-item>
          <ion-item>
            Realtiecode{{ userDoc.relatiecodes.length > 1 ? 's' : '' }}: <span>{{ userDoc.relatiecodes.join(', ') }}</span>
          </ion-item>
          <ion-item v-if="lid.map(a => a['Diploma dropdown 1\r']).filter(n => n !== '\r').length">
            Diploma{{ lid.map(a => a['Diploma dropdown 1\r']).filter(n => n !== '\r').length > 1 ? 's' : '' }}: <span>{{ lid.map(a => a['Diploma dropdown 1\r']).filter(n => n !== '\r').join(', ') }}</span>
          </ion-item>
        </div>

        <div class="container">
          <h3 style="margin-left: 15px; padding-top: 10px; font-weight: bold;">Options</h3>
          <ion-item button v-if="userDoc.allRelatiecodes.length > 1" @click="setRelatiecodeOpen(true)">
            Verander Personen
          </ion-item>
          <ion-item button @click="setEmailOpen(true)">
            Change Email
          </ion-item>
          <ion-item button @click="setPasswordOpen(true)">
            Change password
          </ion-item>
          <ion-item button @click="logOut">
            Logout
          </ion-item>
        </div>
      </div>


      <ion-modal ref="modal" :is-open="isEmailOpen" @willDismiss="setEmailOpen(false)">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button @click="setEmailOpen(false)">Cancel</ion-button>
          </ion-buttons>
          <ion-title style="text-align: center">Change Email</ion-title>
          <ion-buttons slot="end">
            <ion-button :strong="true" @click="confirmEmail">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p style="color: red; margin-left: 15px; margin-right: 15px">Let op! Je verandert alleen het Email van de app dus <u>NIET</u> van de vereniging!</p>
        <ion-item class="input">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" required="true" v-model="password" placeholder=""></ion-input>
        </ion-item>
        <ion-item class="input">
          <ion-label position="floating">New Email</ion-label>
          <ion-input type="email" required="true" v-model="email" placeholder="user@example.com"></ion-input>
        </ion-item>
      </ion-content>
    </ion-modal>

    <ion-modal ref="modal" :is-open="isPasswordOpen" @willDismiss="setPasswordOpen(false)">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button @click="setPasswordOpen(false)">Cancel</ion-button>
          </ion-buttons>
          <ion-title style="text-align: center">Change Password</ion-title>
          <ion-buttons slot="end">
            <ion-button :strong="true" @click="confirmPassword">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item class="input">
          <ion-label position="floating">Old Password</ion-label>
          <ion-input type="password" required="true" v-model="password" placeholder=""></ion-input>
        </ion-item>
        <ion-item class="input">
          <ion-label position="floating">New Password</ion-label>
          <ion-input type="password" required="true" v-model="newPassword" placeholder=""></ion-input>
        </ion-item>
        <ion-item class="input">
          <ion-label position="floating">Repeat new password</ion-label>
          <ion-input type="password" required="true" v-model="newRepeatPassword" placeholder=""></ion-input>
        </ion-item>
      </ion-content>
    </ion-modal>

    <ion-modal ref="modal" :is-open="isRelatiecodeOpen" @willDismiss="setRelatiecodeOpen(false)">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button @click="setRelatiecodeOpen(false)">Cancel</ion-button>
          </ion-buttons>
          <ion-title style="text-align: center">Beheer Personen</ion-title>
          <ion-buttons slot="end">
            <ion-button :strong="true" @click="confirmRelatiecodes">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-item v-for="code in userDoc.allRelatiecodes" :key="code" >
            <ion-checkbox :modelValue="newRelatiecodes.includes(code)" @update:modelValue="updateRelatiecode($event, code)" :disabled="code === userDoc.relatiecodes[0]"></ion-checkbox>
            <ion-label><span style="width: 200px">{{ leden.length ? '' : code + ' Getting names....' }}</span> {{ leden.map(a => a.Relatiecode === code ?  a['Volledige naam (1)'].join(' ') : '').join(' ') }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-modal>
    </ion-content>
  </ion-page>
</template>

<script>
import { defineComponent } from 'vue';
import { IonPage, IonHeader, IonToolbar, IonTitle, IonContent, IonItem, IonButtons, IonButton, IonModal, IonLabel, IonInput, IonCheckbox, IonList } from '@ionic/vue';

export default  defineComponent({
  name: 'AccountPage',
  components: { IonHeader, IonToolbar, IonTitle, IonContent, IonPage, IonItem, IonButtons, IonButton, IonModal, IonLabel, IonInput, IonCheckbox, IonList }
});
</script>

<script setup>
import { inject, ref } from 'vue'
import { getAuth, signOut, reauthenticateWithCredential, updateEmail, EmailAuthProvider, updatePassword } from 'firebase/auth'
import { getFirestore, collection, where, documentId, getDocs, query, doc, updateDoc } from "firebase/firestore";

const { user, lid, userDoc, getLid, setGroups } = inject('settings')
const db = getFirestore()

const auth = getAuth()

const isEmailOpen = ref(false)
const isPasswordOpen = ref(false)
const isRelatiecodeOpen = ref(false)
const email = ref('')
const password = ref('')
const newPassword = ref('')
const newRepeatPassword = ref('')
const leden = ref([])
const newRelatiecodes = ref([])

const setEmailOpen = (isOpen) => {
  isEmailOpen.value = isOpen
  if (isOpen === false) {
    email.value = ''
    password.value = ''
  }
}

const setRelatiecodeOpen = async (isOpen) => {
  isRelatiecodeOpen.value = isOpen
  newRelatiecodes.value = userDoc.value.relatiecodes

  if (isOpen === true && !leden.value.length) {
    const q = query(
      collection(db, "settings", "ledenlijst", "leden"),
        where(documentId(), "in", 
          userDoc.value.allRelatiecodes
        ),
     );

    const productsDocsSnap = await getDocs(q);

    productsDocsSnap.forEach((doc) => {
      leden.value.push(doc.data())
    });
  }
}

const setPasswordOpen = (isOpen) => {
  isPasswordOpen.value = isOpen
  if (isOpen === false) {
    password.value = ''
    newPassword.value = ''
    newRepeatPassword.value = ''
  }
}

const confirmEmail = () => {
  if (!email.value || password.value) return alert('Vul alle velden in')

  const credential = EmailAuthProvider.credential(
    auth.currentUser.email,
    password.value
  )

  reauthenticateWithCredential(auth.currentUser, credential).then(() => {
    updateEmail(auth.currentUser, email.value).then(() => {
      getLid()
      setEmailOpen(false)
    }).catch((error) => {
      alert(error.message)
      // ...
    });
  }).catch((error) => {
    alert(error.message)
  });
}

const confirmPassword = () => {
  if (!password.value || !newPassword.value || !newRepeatPassword.value) return alert('Vul alle velden in')
  if (newPassword.value !== newRepeatPassword.value) return alert ('Niewe wachtwoorden zijn niet hetzelfde')
  
  const credential = EmailAuthProvider.credential(
    auth.currentUser.email,
    password.value
  )

  reauthenticateWithCredential(auth.currentUser, credential).then(() => {
    updatePassword(auth.currentUser, newPassword.value).then(() => {
      getLid()
      setPasswordOpen(false)
    }).catch((error) => {
      alert(error.message)
      // ...
    });
  }).catch((error) => {
    alert(error.message)
  });
}

const logOut = () => {
  signOut(auth).then(() => {
    getLid()
  }).catch((error) => {
    console.log(error)
  });
}

const updateRelatiecode = (e, code) => {
  if (e) newRelatiecodes.value.push(code)
  else newRelatiecodes.value = newRelatiecodes.value.filter(a => a !== code)
}

const confirmRelatiecodes = async () => {

  const newLeden = leden.value.filter(a => newRelatiecodes.value.includes(a.Relatiecode))
  
  await updateDoc(doc(db, "users", user.value.uid), {
    relatiecodes: newRelatiecodes.value
  });

  console.log('testing')

  setGroups(newLeden)
  setRelatiecodeOpen(false)
}

</script>


<style scoped>
.title {
  text-align: center;
  font-weight: bold;
  color: #EB6330;
  margin-top: 60px;
  margin-bottom: 30px;
}

ion-item {
  margin-left: 10px;
  margin-right: 10px;
  --border-radius: 5px;
  
}

.input {
  margin-bottom: 10px;
}

.parent {
  padding-left: 5px;
  padding-right: 5px
}

.container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: var(--ion-item-background);
}

span {
  margin-left: auto;
  padding-left: 10px;
  padding-right: 5px;
  font-weight: 600;

}
</style>