<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>Calendar</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <div style="max-width: 700px; margin-left: auto; margin-right: auto">
        <div v-for="(event, index) in calEvents" :key="index">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>{{ longEventDate(event.date) }}</ion-card-subtitle>
              <ion-card-title style="white-space: pre;">{{ event.description}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </div>
      </div>
    </ion-content>
  </ion-page>
</template>

<script>
import { defineComponent } from 'vue';
import { IonPage, IonHeader, IonToolbar, IonTitle, IonContent, IonCard, IonCardSubtitle, IonCardTitle, IonCardHeader } from '@ionic/vue';

export default defineComponent({
  name: 'CalendarPage',
  components: { IonHeader, IonToolbar, IonTitle, IonContent, IonPage, IonCard, IonCardSubtitle, IonCardTitle, IonCardHeader }
});
</script>

<script setup>
import { ref, inject, onMounted } from 'vue'

// eslint-disable-next-line
const { user, lid, userDoc, getLid, setGroups } = inject('settings')

const calEvents = ref([])

onMounted(() => {
  getCalendarEvents(userDoc.value.groups)
})

const longEventDate = (eventDate) => {
	const date = new Date(eventDate)

	return date.toLocaleString('nl-NL', {
    weekday: 'short',
    day: 'numeric',
    year: 'numeric',
    month: 'long',
    hour: 'numeric',
    minute: 'numeric'
  }
)}

const getCalendarEvents = async (group) => {
  const events = []
  let fridayEvents = []
  let saturdayEvents = []
  let matchEvents = []

  if (group.includes('Zaterdag')){
    let data = await fetch('https://www.googleapis.com/calendar/v3/calendars/c_astg0d0auheip5o4269v1qvv3g@group.calendar.google.com/events?key=AIzaSyBLmxWNEnbkiW_0c2UrsHMbxXv73dX-KYw')
    if (!data.ok){
      throw Error('No data available')
    }

    const jsonEvents = await data.json()
    saturdayEvents = jsonEvents.items
  } if (group.includes('Vrijdag')){
    let data = await fetch('https://www.googleapis.com/calendar/v3/calendars/c_u3895n01jt8qnusm7f6pmqjb0k%40group.calendar.google.com/events?key=AIzaSyBLmxWNEnbkiW_0c2UrsHMbxXv73dX-KYw')
    if (!data.ok){
      throw Error('No data available')
    }

    const jsonEvents = await data.json()
    fridayEvents = jsonEvents.items
  } if (group.includes('Wedstrijd')){

    let data = await fetch('https://www.googleapis.com/calendar/v3/calendars/c_c2296iboq07n24galuobeesovs@group.calendar.google.com/events?key=AIzaSyBLmxWNEnbkiW_0c2UrsHMbxXv73dX-KYw')
    if (!data.ok){
      throw Error('No data available')
    }

    const jsonEvents = await data.json()
    matchEvents = jsonEvents.items
  }
    
  const allEvents = [...fridayEvents, ...saturdayEvents, ...matchEvents]

  const now = new Date()
  now.setHours(0, 0, 0, 0)

  const sortedEvents = allEvents.sort((a, b) => new Date(a.start.dateTime) - new Date(b.start.dateTime))
  const filteredEvents = sortedEvents.filter((event) => new Date(event.start.dateTime) > now )

  filteredEvents.forEach(element => {
    events.push({
      description: element.description,
      date: new Date(element.start.dateTime)
    })
  });
    
  calEvents.value = events
}

</script>

<style scoped>
.title {
  text-align: center;
  color: #EB6330;
  margin-top: 60px;
  margin-bottom: 20px;
}

ion-icon {
  font-size: 24px;
  margin-left: 10px;
  color: #EB6330;
}

ion-item {
  --border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  
}

ion-col {
  max-width: 700px;
}
</style>
