<template>
  <ion-page>
    <ion-content :fullscreen="true">
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col>
              <div class="title">
                <h1>Reddingsbrigade Waddinxveen</h1>
              </div>
              <div v-if="!newUser" class="container">
                <form @submit.prevent="loginForm">
                  <ion-item>
                    <ion-label position="floating">Email</ion-label>
                    <ion-input type="email" required="true" v-model="form.email" placeholder="user@example.com"></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label position="floating">Password</ion-label>
                    <ion-input type="password" required="true" v-model="form.password" placeholder=""></ion-input>
                  </ion-item>

                  <ion-button type="submit">Login</ion-button>
                </form>
              </div>

              <div v-else class="container">
                <form @submit.prevent="createForm">
                  <p style=" text-align: center">Creating account with <u>{{ form.email }}</u> + <u>{{ form.password }}</u></p>

                  <ion-item>
                    <ion-label position="floating">New password</ion-label>
                    <ion-input type="password" required="true" v-model="form.newPassword" placeholder=""></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label position="floating">Repeat password</ion-label>
                    <ion-input type="password" required="true" v-model="form.newRepeatPassword" placeholder=""></ion-input>
                  </ion-item>
                  <div style="display: flex; align-items: center;">
                    <ion-button type="submit">Create Account</ion-button>
                    <span @click="newUser = false" style="margin-left: 5px; text-decoration: underline; cursor: pointer;">Not you? Go back</span>
                  </div>
                </form>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import { IonPage, IonContent, IonInput, IonItem, IonGrid, IonRow, IonCol, IonLabel, IonButton } from '@ionic/vue';


export default {
  name: 'LoginPage',
  components: { IonPage, IonContent, IonInput, IonItem, IonGrid, IonRow, IonCol, IonLabel, IonButton }
};
</script>


<script setup>
import { ref, onMounted } from 'vue'
import { getAuth, signInWithEmailAndPassword, createUserWithEmailAndPassword } from "firebase/auth";
import { doc, getDoc, setDoc, getFirestore, query, collection, where, getDocs } from "firebase/firestore";
import { alertController } from '@ionic/vue'

const auth = getAuth()
const db = getFirestore()

const form = ref({ email: '', password: '', newRepeatPassword: '', newPassword: '' })
const newUser = ref(false)


const loginForm = () => {

  if (!form.value.email || !form.value.password ) return;

  form.value.email = form.value.email.toLowerCase()

  signInWithEmailAndPassword(auth, form.value.email, form.value.password)
    .then((userCredential) => {
      const user = userCredential.user;

      form.value = { email: '', password: '', newRepeatPassword: '', newPassword: '' }
    })
    .catch((error) => {
      if (error.code === 'auth/user-not-found') checkRelatiecode()
      else if (error.code === 'auth/wrong-password') alert('Password onjuist')
      else alert(error.code)
    });
}

const createForm = () => {
  if (form.value.newPassword !== form.value.newRepeatPassword) return alert('Wachtwoorden zijn niet hetzelfde')

  createUserWithEmailAndPassword(auth, form.value.email, form.value.newPassword)
  .then(async (userCredential) => {
    const user = userCredential.user;

    const q = query(collection(db, "settings", "ledenlijst", "relatiecodes"), where("email", "array-contains", form.value.email));

    let relatiecodes = []
   
    const querySnapshot = await getDocs(q);
    await querySnapshot.forEach((doc) => {
      relatiecodes.push(doc.id)
    });

    if (relatiecodes.length > 1) {
      const alert = await alertController.create({
        header: 'Personen toevoegen',
        subHeader: '',
        message: 'Er zijn meerdere personen gevonden met dit zelfde e-mailadres, wilt u deze toevoegen?',
        buttons: [{text: 'JA', role: 'ja' }, {text: 'NEE', role: 'nee'}]
      });

      await alert.present();

      const { role } = await alert.onDidDismiss();
      if (role === 'ja') {
        await setDoc(doc(db, "users", user.uid), {
          relatiecodes: relatiecodes,
          allRelatiecodes: relatiecodes,
          groups: [],
          email: form.value.email
        });
      } else {
        await setDoc(doc(db, "users", user.uid), {
          relatiecodes: [form.value.password],
          allRelatiecodes: relatiecodes,
          groups: [],
          email: form.value.email
        });
       }
    } else {
      await setDoc(doc(db, "users", user.uid), {
          relatiecodes: [form.value.password],
          allRelatiecodes: relatiecodes,
          groups: [],
          email: form.value.email
        });
    }

    form.value = { email: '', password: '', newRepeatPassword: '', newPassword: '' }
  })
  .catch((error) => {
    alert(error.code)
    console.log(error.message)
    // ..
  });
}

const checkRelatiecode = async () => {
  const docRef = doc(db, "settings", "ledenlijst", "relatiecodes", form.value.password);
  const docSnap = await getDoc(docRef);

  if (!docSnap.exists()) return alert('Relatiecode niet gevonden')

  const data = docSnap.data()

  if (data.email.includes(form.value.email)) newUser.value = true
  else alert('Email of relatiecode onjuist')

}

onMounted(() => {
  form.value = { email: '', password: '', newRepeatPassword: '', newPassword: '' }
})
</script>

<style scoped>
.title {
  text-align: center;
  color: #EB6330;
  margin-top: 30px;
  margin-bottom: 20px;
}

ion-item {
  --border-radius: 5px;
  margin-bottom: 10px;
}

ion-col {
  max-width: 600px;
}
</style>
