<template>
  <ion-page>
    <ion-tabs>
      <ion-router-outlet></ion-router-outlet>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" href="/tabs/home">
          <ion-icon :icon="homeOutline" />
          <ion-label>Home</ion-label>
        </ion-tab-button>
          
        <ion-tab-button tab="news" href="/tabs/news">
          <ion-icon :icon="newspaperOutline" />
          <ion-label>News</ion-label>
        </ion-tab-button>
        
        <ion-tab-button tab="calendar" href="/tabs/calendar">
          <ion-icon :icon="calendarOutline" />
          <ion-label>Calendar</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="account" href="/tabs/account">
          <ion-icon :icon="personOutline" />
          <ion-label>Account</ion-label>
        </ion-tab-button>

        <ion-tab-button v-if="userDoc && userDoc.groups && userDoc.groups.includes('Admin')" tab="manage" href="/tabs/manage">
          <ion-icon :icon="peopleOutline" />
          <ion-label>Manage</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-page>
</template>

<script>
import { defineComponent } from 'vue';
import { IonTabBar, IonTabButton, IonTabs, IonLabel, IonIcon, IonPage, IonRouterOutlet } from '@ionic/vue';
import { newspaperOutline, calendarOutline, homeOutline, personOutline, peopleOutline } from 'ionicons/icons';

export default defineComponent({
  name: 'TabsPage',
  components: { IonLabel, IonTabs, IonTabBar, IonTabButton, IonIcon, IonPage, IonRouterOutlet },
  setup() {
    return {
      newspaperOutline, 
      calendarOutline, 
      homeOutline,
      personOutline,
      peopleOutline
    }
  }
});
</script>

<script setup>
import { inject } from 'vue'

// eslint-disable-next-line
const { user, lid, userDoc, getLid, setGroups } = inject('settings')
</script>
