<template>
  <ion-app>
    <ion-router-outlet v-if="userLoaded" />
  </ion-app>
</template>

<script>
import { IonApp, IonRouterOutlet } from '@ionic/vue';
import { defineComponent, onMounted } from 'vue';

export default defineComponent({
  name: 'App',
  components: {
    IonApp,
    IonRouterOutlet
  }
});
</script>

<script setup>
import { ref, provide } from 'vue'
import { getAuth, onAuthStateChanged } from "firebase/auth";
import { doc, getDoc, getFirestore, updateDoc } from "firebase/firestore";
import { useRoute, useRouter } from 'vue-router'
import { PushNotifications } from '@capacitor/push-notifications';

const auth = getAuth();
const route = useRoute();
const router = useRouter();
const db = getFirestore()

const userLoaded = ref(false)
const user = ref(null)
const userDoc = ref(null)
const lid = ref([])


onAuthStateChanged(auth, (usr) => {
  if (usr) {
    user.value = usr
    if (route.fullPath === '/login') router.push('/')

    getLid()
  } else {
    userLoaded.value = true
    user.value = null
    if (route.fullPath !== '/login') router.push('/login')
  }
});

const getLid = async () => {
  lid.value = []
  let docRef = doc(db, "users", user.value.uid);
  let docSnap = await getDoc(docRef);

  let relatiecodes = []
  let data = null

  if (docSnap.exists()) {
    data = docSnap.data()
    userDoc.value = data
    relatiecodes = data.relatiecodes
  } else {
    return setTimeout(() => {
        getLid()
      }, 1000)
  } 


  for (let i = 0; i < relatiecodes.length; i++) {
    docRef = doc(db, "settings", "ledenlijst", "leden", relatiecodes[i]);
    docSnap = await getDoc(docRef);

    if (docSnap.exists()) {
      lid.value.push(docSnap.data())
    } else {
      return setTimeout(() => {
        getLid()
      }, 1000)
    }
  }

  if (!Array.isArray(data.groups) || !data.groups.length) setGroups(lid.value)
  if (userDoc.value.isAdmin && !userDoc.value.groups.includes('Admin')) setGroups(lid.value)
  if (!userDoc.value.isAdmin && userDoc.value.groups.includes('Admin')) setGroups(lid.value)

  userLoaded.value = true
}

const setGroups = async (relatiecodes) => {
  let groups = []
  console.log(relatiecodes)
  
  for (let i = 0; i < relatiecodes.length; i++) {
    if (!Array.isArray(relatiecodes[i].Verenigingssporten)) {
      groups = relatiecodes[i].Verenigingssporten.split(' - ')
      groups.shift()
      if (groups[1] === 'Week') groups[1] = 'Vrijdag'
    } else {
      for (let j = 0; j < relatiecodes[i].Verenigingssporten.length; j++ ) {
        let tmp = relatiecodes[i].Verenigingssporten[j].split(' - ')
        tmp.shift()
        if (tmp[1] === 'Week') tmp[1] = 'Vrijdag'
        groups.push(...tmp)
      }
    }
  }

  if (userDoc.value.isAdmin === true) groups.push('Admin')

  await updateDoc(doc(db, "users", user.value.uid), {
    groups: [...new Set(groups)]
  });

  getLid()
}

onMounted(() => {
  console.log('Initializing HomePage');

  // Request permission to use push notifications
  // iOS will prompt user and return if they granted permission or not
  // Android will just grant without prompting
  PushNotifications.requestPermissions().then(result => {
    if (result.receive === 'granted') {
      // Register with Apple / Google to receive push via APNS/FCM
      PushNotifications.register();
    } else {
      // Show some error
    }
  });

  // On success, we should be able to receive notifications
  PushNotifications.addListener('registration',
    (token) => {
      alert('Push registration success, token: ' + token.value);
    }
  );

    // Some issue with our setup and push will not work
  PushNotifications.addListener('registrationError',
    (error) => {
      alert('Error on registration: ' + JSON.stringify(error));
    }
  );

    // Show us the notification payload if the app is open on our device
  PushNotifications.addListener('pushNotificationReceived',
    (notification) => {
      alert('Push received: ' + JSON.stringify(notification));
    }
  );

  // Method called when tapping on a notification
  PushNotifications.addListener('pushNotificationActionPerformed',
    (notification) => {
      alert('Push action performed: ' + JSON.stringify(notification));
    }
  );
})

provide('settings', { user, userDoc, lid, getLid, setGroups })
</script>